.page-cover {
  background-image: url('../img/HomePageCover.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%; 
  height: 90vh; 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.body{
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.container-homepage {
  width: 100%; 
  max-width: 100%;
  padding-left: 2rem; 
  padding-right: 2rem; 
}

.row-homepage {
  margin-left: 0;
  margin-right: 0; 
}

.col-md-6-homepage {
  padding-left: 0; 
  padding-right: 0; 
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: rgb(146, 93, 28);
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgb(180, 104, 12);
}

.btn-homepage {
  min-width: 150px;
  color: rgb(85, 49, 4);
}

